<footer class="container">
  George Mason University &#149; For Educational Uses Only &#149; Homework Submitted by <a href="https://github.com/webninjataylor" target="_blank">webninjataylor</a>
</footer>